@import "burger";

.nav {
  font-size: 16px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  visibility: hidden;
  z-index: 1;

  @media screen and (min-width: $medium) {
    display: block;
    visibility: visible;
    padding-top: 3em;
    width: $navWidth;
  }
}

.nav--active .nav {
  visibility: visible;
  height: 100%;
  width: 100%;

  @media screen and (min-width: $medium) {
    width: $navWidth;
  }
}

.nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 20px;
  width: 50%;

  box-shadow: rgba(247,101,184, 0.4) 5px 5px, rgba(247,101,184, 0.3) 10px 10px, rgba(247,101,184, 0.2) 15px 15px, rgba(247,101,184, 0.1) 20px 20px, rgba(247,101,184, 0.05) 25px 25px;
  //box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  //box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;

  @media screen and (min-width: $medium) {
    width: auto;
  }

  @media screen and (max-width: $medium - 1) {
    transform: translateY(-25px);
    opacity: 0;
    .nav--active & {
      transform: translateY(0);
      opacity: 1;
      transition: all 500ms ease;
    }
  }
}

.nav__list li {
  margin-bottom: 3em;
  line-height: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: $medium) {
    margin-bottom: 1.75em;
  }
}

.nav__list a {
  color: $secondary;
  text-decoration: none;
  font-size: 2em;

  &.active {
    color: $secondary -10%;
  }

  &:hover {
    color: $hover_color;
    font-size: large;
    //text-shadow: -1px 0 , 0 1px, 1px 0, 0 -1px $hover_color;
  }

  @media screen and (min-width: $medium) {
    font-size: 1em;
  }
}
