{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  
  <div class="splash">
    
    <!-- First Headline-->
    <h1>{{ .Params.heading }}<span class="fancy"></span></h1>
    
    <!-- Handle (@Tadaiji)-->
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    
    <!-- Second Headline-->
    
      <h2>
        {{ .Params.subheading }}
      </h2>
    
    <div class="bottemBar">
    <!-- Github icon-->
    {{ partial "social-icons.html" .}}
    </div>

    <img src="../images/DALL·E 2023-03-26 21.19.34 - An impression of gorilla tag.png" width="100px" alt="Gorilla Tag">

  </div>
</div>

{{ end }}
